@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 13% 97%;
    --foreground: 280 8% 29%;
    --card: 0 0% 100%;
    --card-foreground: 280 8% 29%;
    --popover: 0 0% 100%;
    --popover-foreground: 280 8% 29%;
    --primary: 277 55% 35%;
    --primary-foreground: 286 2% 90%;
    --secondary: 293 22% 91%;
    --secondary-foreground: 309 33% 43%;
    --muted: 286 2% 95%;
    --muted-foreground: 284 7% 53%;
    --accent: 262 4% 92%;
    --accent-foreground: 280 8% 29%;
    --destructive: 15 86% 69%;
    --destructive-foreground: 0 0% 100%;
    --border: 286 3% 90%;
    --input: 286 3% 90%;
    --ring: 283 54% 51%;
    --chart-1: 283 54% 51%;
    --chart-2: 289 35% 69%;
    --chart-3: 274 56% 55%;
    --chart-4: 281 42% 63%;
    --chart-5: 273 52% 43%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 282 19% 18%;
    --foreground: 286 4% 91%;
    --card: 281 27% 22%;
    --card-foreground: 286 4% 91%;
    --popover: 281 27% 22%;
    --popover-foreground: 286 4% 91%;
    --primary: 290 35% 72%;
    --primary-foreground: 282 19% 18%;
    --secondary: 280 50% 30%;
    --secondary-foreground: 286 17% 84%;
    --muted: 278 43% 25%;
    --muted-foreground: 285 7% 70%;
    --accent: 277 58% 31%;
    --accent-foreground: 286 4% 91%;
    --destructive: 15 86% 69%;
    --destructive-foreground: 0 0% 100%;
    --border: 280 42% 31%;
    --input: 280 42% 31%;
    --ring: 290 35% 72%;
    --chart-1: 290 35% 72%;
    --chart-2: 273 33% 61%;
    --chart-3: 245 31% 75%;
    --chart-4: 185 26% 76%;
    --chart-5: 347 39% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
